<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="../../static/css/payment.css">
    <script src="https://js.stripe.com/v3/"></script>
    <style>
        .chek::selection {
            /* color: red; */
            /* background-color: green; */
        }
    </style>
    <meta http-equiv="Content-Security-Policy" content="
  default-src *; 
  style-src 'self'  'unsafe-inline'; 
  script-src * 'self' https://checkout.stripe.com 'unsafe-inline'; 
  img-src http://127.0.0.1:5080/api/v1/static/img/ ;
  connect-src  * 'self' https://checkout.stripe.com   ;
  frame-src  * 'self'  https://checkout.stripe.com ;">
    <style>
    </style>
</head>

<body>
    <div id="backcard" class="">
    </div>

    <section class=" w-[80%] h-[38rem]  mx-auto flex justify-center">
        <form id="payment-form" action="#" class="pl-8 pr-16  w-[50%] h-full flex items-center justify-center flex-col">
            <div id="link-authentication-element">
            </div>
            <div id="payment-element" class="w-[80%] mb-8">
            </div>
            <button id="submit" type="submit">
                <div class="spinner hidden" id="spinner"></div>
                <span id="button-text">Pay Now</span>
            </button>
            <div id="payment-message" class=""></div>
        </form>
    </section>

</body>
<script src="../../static/script/payment.js"></script>


</html>